@model HR.Models.InfoType

@using HR.Infrastructure.Helpers

@using HR.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large indigo waves-effect" href="@Url.Action("EditInfoType", "InfoType", new { area = "Settings", Id = Guid.Empty })">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="row">
        <div class="col l4 m12 s12">
            @Html.Partial("ListOfInfoTypes", ViewBag.InfoTypes as IEnumerable<InfoType>)
        </div>
        <div class="col l8 m12 s12">
            @using (Html.BeginForm("SaveInfoType", "InfoType", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    @Html.HiddenFor(_ => _.Id)
                    <div class="input-field col l8">
                        @Html.TextBoxFor(_ => _.Name)
                        @Html.LabelFor(_ => _.Name)
                        @Html.ValidationMessageFor(_ => _.Name, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col l4">
                        @Html.MaterializeSwitch(_ => _.Active, "Inactive", "Active")
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(_ => _.Mask)
                        @Html.LabelFor(_ => _.Mask)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            @Html.RadioButtonFor(_ => _.Group, Group.SocialNetworks, new { Id = "SocialNetworks" })
                            <label for="SocialNetworks">Social Network</label>
                        </p>
                        <p>
                            @Html.RadioButtonFor(_ => _.Group, Group.PhoneNumbers, new { Id = "PhoneNumbers" })
                            <label for="PhoneNumbers">Phone Number</label>
                        </p>
                        <p>
                            @Html.RadioButtonFor(_ => _.Group, Group.Other, new { Id = "Other" })
                            <label for="Other">Other</label>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn green waves-effect">Save</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
