@model HR.Models.InfoType

@using HR.Infrastructure.Helpers

@using HR.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col l4 m12">
            <a class="btn indigo lighten-1 waves-effect" href="@Url.Action("EditInfoType", "InfoType", new { area = "Settings", Id = Guid.Empty })">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m12 s12">
            @Html.Partial("ListOfInfoTypes", ViewBag.InfoTypes as IEnumerable<InfoType>)
        </div>
        <div class="col l8 m12 s12">
            @using (Html.BeginForm("SaveInfoType", "InfoType", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    @Html.HiddenFor(_ => _.Id)
                    <div class="input-field col s8">
                        @Html.TextBoxFor(_ => _.Name)
                        @Html.LabelFor(_ => _.Name)
                        @Html.ValidationMessageFor(_ => _.Name, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field col s4">
                        @Html.MaterializeSwitch(_ => _.Active, "Inactive", "Active")
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(_ => _.Mask)
                        @Html.LabelFor(_ => _.Mask)
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field col s12">
                        <input class="file-path validate" type="text" />
                        <div class="btn">
                            <span>Icon</span>
                            <input type="file" name="InfoTypeIcon" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            @Html.RadioButtonFor(_ => _.Group, Group.SocialNetworks, new { Id = "SocialNetworks" })
                            <label for="SocialNetworks">Social Network</label>
                        </p>
                        <p>
                            @Html.RadioButtonFor(_ => _.Group, Group.PhoneNumbers, new { Id = "PhoneNumbers" })
                            <label for="PhoneNumbers">Phone Number</label>
                        </p>
                        <p>
                            @Html.RadioButtonFor(_ => _.Group, Group.Other, new { Id = "Other" })
                            <label for="Other">Other</label>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn green">Save</button>
                        <input type="reset" class="btn indigo" value="Reset"/>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
