@model HR.Models.InfoType

@using HR.Models

@{
    Layout = null;
}

@using(Html.BeginForm("SaveInfoType", "InfoType", FormMethod.Post))
{

    <div class="row">
        <div class="input-field col s9">
            @Html.TextBoxFor(_ => _.Name)
            @Html.LabelFor(_ => _.Name, "Name")
        </div>
        <div class="input-field col s3">
            <input type="hidden" name="Active"/>
            <input type="checkbox" @(ViewData.Model.Active ? "checked" : "") id="Active" name="Acive" />
            @Html.LabelFor(_ => _.Active, "Active")
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            @Html.TextBoxFor(_ => _.Mask)
            @Html.LabelFor(_ => _.Mask, "Mask")
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                @Html.RadioButtonFor(_ => _.Group, Group.SocialNetworks, new { Id = "SocialNetworks" })
                <label for="SocialNetworks">Social Network</label>
            </p>
            <p>
                @Html.RadioButtonFor(_ => _.Group, Group.PhoneNumbers, new { Id = "PhoneNumbers" })
                <label for="PhoneNumbers">Phone Number</label>
            </p>
            <p>
                @Html.RadioButtonFor(_ => _.Group, Group.Other, new { Id = "Other" })
                <label for="Other">Other</label>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <button class="btn green">Save</button>
            <input type="reset" class="btn indigo" value="Reset" />
            <a href="@Url.Action("Index", "InfoType", new { area = "Settings" })" class="btn indigo">Back</a>
        </div>
    </div>

}
