@{
    Layout = null;
}

@model IEnumerable<InfoType>

@using HR.Models

@helper InfoTypeTable(string title, IEnumerable<InfoType> infoTypes)
{
    if (infoTypes != null && infoTypes.Count() > 0)
    {
        <ul class="collection with-header l4 m12 s12 z-depth-1">
            <li class="collection-header">@title</li>
            @foreach (InfoType type in infoTypes)
            {
                <a class="collection-item @(type.Active ? "indigo-text" : "grey-text")" href="@Url.Action("EditInfoType", "InfoType", new { area = "Settings", Id = type.Id })">@type.Name</a>
            }
        </ul>
    }
}


@functions {
    IEnumerable<InfoType> InfoTypesOfGroup(Group group)
    {
        return (from infoType in ViewData.Model where infoType.Group == @group select infoType);
    }
}


@InfoTypeTable("Social Networks", InfoTypesOfGroup(Group.SocialNetworks))
@InfoTypeTable("Phone Numbers", InfoTypesOfGroup(Group.PhoneNumbers))
@InfoTypeTable("Other", InfoTypesOfGroup(Group.Other))


